h1, h2 {
  margin: 0;
}
body{
  font-family: 'Stylish', sans-serif;
}
img{
  max-width: 100%;
}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mr10 {
  margin-right: 10px;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.df {
  display: flex;
  align-items: center;
}
.appDiv{
  position: relative;
}

.mg-copyright {
  text-align: center;
}

.start-dialog-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(89, 6, 134);
  color: #fff;
  border-radius: 5px;
  padding: 30px 40px;
}

.card{
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 100px;
  cursor: pointer;
}

.card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 150px;
  max-height: 210px;
}

button{
  cursor: pointer;
  font-family: 'Stylish', sans-serif;
  font-size: 1em;
}

.flip-container {
	perspective: 1000px;
}

.flip-container, .front, .back {
	width: 160px;
	height: 220px;
}
.topMenu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #ffffff;
  max-width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(89, 6, 134);
}
.blockingLayer{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: black;
}
.blockingLayer--noShade{
  opacity: 0;
}
.blockingLayer--visible{
  display: block;
}

.message{
  position: fixed;
  display: none;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  
}
.message-shade{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: black;
}
.message-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message--noShade .message-shade{
  opacity: 0;
}

.message--visible{
  display: block;
}

.endGame{
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 40px;
  color: white;
  background-color: rgb(89, 6, 134);
} 
.hiddenImg{
  opacity: 0;
  visibility: hidden;
}
.hiddenImg--visible .hiddenImg{
  visibility: visible;
  animation-name: sneakPick;
  animation-duration: 2s;
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */ 
.front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);
  background-color: rgb(179, 178, 178);
  border-radius: 5px;
}

/* back, initially hidden pane */
.back {
  border-radius: 5px;
  transform: rotateY(180deg);
  
  border: 1px solid black;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2dfed+0,c8d7eb+26,bed0ea+51,a6c0e3+51,afc7e8+62,bad0ef+75,99b5db+88,799bc8+100;Grey+Blue+Gloss+%231 */
  background-image: radial-gradient(circle at center center, rgb(89, 6, 134) 0%, rgb(89, 6, 134) 3%,rgb(108, 25, 146) 3%, rgb(108, 25, 146) 9%,rgb(126, 45, 158) 9%, rgb(126, 45, 158) 12%,rgb(145, 64, 171) 12%, rgb(145, 64, 171) 20%,rgb(163, 83, 183) 20%, rgb(163, 83, 183) 30%,rgb(182, 103, 195) 30%, rgb(182, 103, 195) 32%,transparent 32%, transparent 100%),radial-gradient(circle at center left, rgb(89, 6, 134) 0%, rgb(89, 6, 134) 4%,rgb(108, 25, 146) 4%, rgb(108, 25, 146) 10%,rgb(126, 45, 158) 10%, rgb(126, 45, 158) 15%,rgb(145, 64, 171) 15%, rgb(145, 64, 171) 18%,rgb(163, 83, 183) 18%, rgb(163, 83, 183) 24%,rgb(182, 103, 195) 24%, rgb(182, 103, 195) 26%,transparent 26%, transparent 100%),radial-gradient(circle at center right, rgb(89, 6, 134) 0%, rgb(89, 6, 134) 3%,rgb(108, 25, 146) 3%, rgb(108, 25, 146) 9%,rgb(126, 45, 158) 9%, rgb(126, 45, 158) 12%,rgb(145, 64, 171) 12%, rgb(145, 64, 171) 15%,rgb(163, 83, 183) 15%, rgb(163, 83, 183) 21%,rgb(182, 103, 195) 21%, rgb(182, 103, 195) 24%,rgb(200, 122, 207) 24%, rgb(200, 122, 207) 100%);
}
.flip-container.backside .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.mg-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 20px;
}

.mg-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

/*Button styles*/

.btn {
  position: relative;

  display: inline-block;
  padding: 5px 10px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: rgb(163, 83, 183);
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: rgb(163, 83, 183);
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
@keyframes sneakPick{
  25%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
}